@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #274662;

  color: #f4f7fb;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 76px;
  background: #e8eef699;
  backdrop-filter: blur(50px);
}

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #e8eef699;
  backdrop-filter: blur(50px);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}
.header-title {
  width: 253px;
  height: 24px;
}
.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: end;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 250px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 16px;

  gap: 12px;
  background: rgba(232, 238, 246, 0.7);

  backdrop-filter: blur(80px);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Nunito;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(25, 40, 56, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  color: rgba(17, 35, 57, 1);
  font-size: 20px;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
    width: 280px;
    height: 72px;
    margin-right: 60px;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 120px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 4px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Nunito;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -5%;
    color: rgba(3, 42, 93, 1);
    padding: 0px 10px;
    text-decoration: none;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    font-size: 26px;
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 625px;
  padding: 134px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 40043.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 32px;
}
.home-title {
  font-family: Nunito;
  font-weight: 900;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0%;
  background: linear-gradient(
    0deg,
    #f3a426 -9.95%,
    #fee7b1 54.17%,
    #f3a426 118.29%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-text {
  font-family: Nunito;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

  padding: 8px 0 80px;
}
.home__google-button_image {
  width: 289px;
  height: 114px;
  margin: auto;
}
.home__google-button_link:hover .home__google-button_image {
  content: url("/img/home/11.png");
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.home-text-two {
  font-family: Nunito;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  -webkit-text-stroke: 1px #4782b0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 877px;
    padding: 236px 76px 0px;
    background-image: url("/img/home/Frame\ 40044.png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
  }
  .home-title {
    font-family: Nunito;
    font-weight: 900;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: 0%;
    width: 588px;
    padding: 0;
  }

  .home-text {
    font-family: Nunito;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0%;
    width: 588px;

    padding: 24px 0 120px;
  }
  .home__google-button_image {
    width: 289px;
    height: 114px;
    margin: auto;
  }

  .home-text-two {
    font-family: Nunito;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}
.why {
  width: 375px;
  height: 368px;
  margin: auto;
  padding: 64px 0px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/why/Frame\ 40045.png");
}

.why-list {
  padding: 8px 0 0px;
}
.why-lists {
  display: none;
}
.why-item {
  width: 343px;
  height: 139px;
  border-radius: 24px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  margin: 30px 5px;
  border: 1px solid #9f9fa6;
  background: #112339;
  transition: all 0.3s ease-in-out;
}
.why-item:hover {
  box-shadow: 4px 4px 30px 0px rgba(254, 254, 254, 0.5),
    -4px -4px 30px 0px rgba(254, 254, 254, 0.5);
}
.why-item-two {
  width: 311px;
  height: 123px;
  border-radius: 30px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  background: linear-gradient(
    180deg,
    #264e71 -5%,
    #267bc6 49.42%,
    #264e71 103.85%
  );
}
.why-text-bold {
  font-family: Nunito;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}
.why-text {
  padding-top: 8px;
  font-family: Nunito;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
  width: 44px;
  height: 44px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/why/Frame\ 40023.png") no-repeat center/cover;

  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/why/Frame\ 40022.png") no-repeat center/cover;
}

@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;
    height: auto;
    padding: 130px 72px 0;
    background-image: none;
  }
  .why-list {
    display: none;
  }
  .why-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 56px;
  }
  .why-item {
    width: 416px;
    height: 146px;
    border-width: 1px;
    border-radius: 24px;
    padding-top: 8px;
    padding-right: 9px;
    padding-bottom: 8px;
    padding-left: 16px;

    margin: 0;
    border: 1px solid #9f9fa6;
    background: #112339;
  }
  .why-item-two {
    width: 384px;
    height: 130px;
    padding: 16px 0 0 16px;
    gap: 8px;
    border-radius: 30px;
  }
  .why-text-bold {
    font-family: Nunito;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .why-text {
    padding-top: 8px;
    font-family: Nunito;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.about {
  padding: 88px 16px 0px;
  margin: auto;
  width: 375px;
}

.about-title {
  font-family: Nunito;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.about-div {
  display: flex;
  flex-direction: column;
}
.about-text {
  font-family: Nunito;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 130px 72px 0 0;
    width: 1440px;
  }
  .about-title {
    font-family: Nunito;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .about-div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .about-text {
    font-family: Nunito;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    width: 636px;
  }
}

.characters {
  padding: 88px 16px 0;
  margin: auto;
  width: 375px;
  height: 638px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 40043\ \(1\).png");
}

.characters-text-bold {
  font-family: Nunito;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #192838;
  padding: 74px 0 0 195px;
}
.characters-text {
  font-family: Nunito;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #192838;
  letter-spacing: 0%;
  padding: 214px 16px 0;
}

@media screen and (min-width: 1200px) {
  .characters {
    padding: 130px 182px 0px;
    width: 1440px;
    height: 851px;
    background-image: url("/img/Frame\ 40044\ \(1\).png");
  }
  .characters-text-bold {
    font-family: Nunito;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 100px 0 0 683px;
  }
  .characters-text {
    font-family: Nunito;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 200px 440px 0 110px;
  }
}
.reviews {
  width: 375px;
  margin: auto;
  padding: 88px 16px;
}

.reviews-list {
  padding: 18px 0 2px;
}
.reviews-item {
  margin: 30px 5px;
  width: 343px;
  height: 148px;
  border-width: 3px;
  padding: 16px;
  gap: 8px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    #43688b 0%,
    #2a4764 55.8%,
    #181825 111.59%
  );
  border: 3px solid #7e8391;
  transition: all 0.3s ease-in-out;
}
.reviews-item:hover {
  box-shadow: 4px 4px 30px 0px rgba(254, 254, 254, 0.5),
    -4px -4px 30px 0px rgba(254, 254, 254, 0.5);
}
.reviews-text-bold {
  font-family: Nunito;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
}
.reviews-text {
  font-family: Nunito;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    padding: 130px 0px;
  }
  .reviews-list {
    padding: 16px 0 0px;
  }
  .reviews-item {
    margin: 40px 12px;
    width: 526px;
    height: 220px;
    padding: 24px;
    border-radius: 16px;
  }

  .reviews-text-bold {
    font-family: Nunito;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .reviews-text {
    font-family: Nunito;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 16px;
  }
}

.gallery {
  width: 375px;
  margin: auto;
  padding: 88px 16px 0px;
}

.gallery__list {
  padding: 48px 0 32px;
}
.gallery__item {
  width: 343px;
  height: 193px;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    padding: 180px 0 0;
  }

  .gallery__item {
    margin: 0 10px;
  }

  .gallery__list {
    height: 581px;
    padding: 56px 0 40px;
  }
  .gallery__list .slick-slide {
    width: 577px;
    height: 325px;
    transition: transform 0.6s ease-in-out, width 0.6s ease-in-out,
      height 0.6s ease-in-out;
  }

  .gallery__list .slick-slide.slick-center {
    width: 856px;
    height: 481px;

    z-index: 2;
  }
}
.features {
  width: 375px;
  margin: auto;
  padding: 88px 16px 0px;
}

.features-list {
  padding: 18px 0 2px;
}
.features-lists {
  display: none;
}
.features-item {
  margin: 30px 8px;
  width: 343px;
  height: 115px;
  padding: 16px;
  background: #e8eef6;
  color: #192838;
  border: 1px solid #4782b0;
  transition: all 0.3s ease-in-out;
}
.features-item:hover {
  box-shadow: 4px 4px 30px 0px rgba(254, 254, 254, 0.5),
    -4px -4px 30px 0px rgba(254, 254, 254, 0.5);
}
.features-text-bold {
  font-family: Nunito;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}
.features-text {
  font-family: Nunito;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    padding: 130px 60px 0px;
  }
  .features-list {
    display: none;
  }
  .features-lists {
    margin-top: 56px;
    display: flex;
    position: relative;
    z-index: 2;
    width: 1296px;
    background-image: url("/img/features\ content\ \(1\).png");
    height: 817px;
    position: relative;
  }

  .features-lists::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/features\ content\ \(2\).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
  }

  .features-item {
    margin: 0;
    width: 306px;
    height: 165px;
    padding: 16px;
    position: absolute;
    top: 82px;
    left: 109px;
  }
  .features-item-two {
    top: 82px;
    width: 416px;
    height: 138px;
    left: 439px;
  }
  .features-item-three {
    top: 165px;
    left: 879px;
    width: 306px;
    height: 165px;
  }
  .features-item-four {
    top: 386px;
    left: 415px;
    width: 306px;
    height: 138px;
  }
  .features-item-five {
    top: 569px;
    left: 85px;
    width: 306px;
    height: 138px;
  }
  .features-item-six {
    top: 421px;
    left: 879px;
    width: 306px;
    height: 138px;
  }
  .features-text-bold {
    font-family: Nunito;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .features-text {
    font-family: Nunito;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    padding-top: 16px;
  }
}
.footer {
  background: #e8eef699;

  color: #192838;
  padding: 32px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  gap: 12px;
}
.footer-text {
  font-family: Nunito;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: #192838;
}

.footer-copyright {
  font-family: Nunito;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 24px;
    width: 1440px;
    margin: auto;
  }
  .footer-container {
    gap: 16px;
  }

  .footer-text {
    font-family: Nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .footer-copyright {
    font-family: Nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  padding: 116px 16px 40px;
  font-family: Nunito;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
}
.policy-terms-title {
  font-family: Nunito;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.policy-terms-text {
  padding-top: 20px;
  font-family: Nunito;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
}
.policy-terms-texts {
  padding-top: 8px;
}
.policy-terms-text-one {
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 186px 72px 60px;
    width: 1440px;
    margin: auto;
    font-family: Nunito;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .policy-terms-title {
    font-family: Nunito;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }

  .policy-terms-text {
    font-family: Nunito;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;

    padding-top: 40px;
  }
  .policy-terms-texts {
  }
  .policy-terms-text-one {
    padding-top: 30px;
  }

  .terms-list {
    padding: 20px 0 20px 25px;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 20px;
  border-radius: 24px;
  background: rgba(158, 191, 219, 1);

  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Nunito;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(25, 40, 56, 1);
}
.cookie-button-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cookie-button {
  border: none;
  background-color: transparent;
  width: 122px;
  border-radius: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Nunito;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(3, 42, 93, 1);
  border: 1px solid rgba(184, 235, 254, 1);
}
#accept-cookies {
  background: rgba(184, 235, 254, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.cookie-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Nunito;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0%;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 35px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
  }
}
